@model Model.EF.User

@{
    ViewBag.Title = "thongtinkhachhang";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>thongtinkhachhang</h2>
<p>@Model.Name
    </p>

@*<p>@Model.Name</p>

<p>@Model.Phone</p>

<p>@Model.Address</p>*@
