@using btlonweb.Models.DTO
@model IEnumerable<CompanyDTO>
<div class="brands_products">
    <!--brands_products-->
    <h2>Brands</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model)
            {
                <li><a href="@Url.Action("getProductByCompany","Home",new { @CompanyID=item.ID})"> <span class="pull-right">(@item.Quantity)</span>@item.Name</a></li>
            }
        </ul>
    </div>
</div>
