<div class="header-bottom">
    <!--header-bottom-->
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="mainmenu pull-left">

<<<<<<< HEAD
          
=======
                    @*@Html.Action("MenuMain", "Home")*@
>>>>>>> origin/master


                </div>
            </div>
            @using (Html.BeginForm("TimKiem", "Home", FormMethod.Post))
            {
                <div class="col-sm-3">
                    <div class="search_box pull-right">
                        <input type="text" placeholder="Nhập kí tự" name="txtTimKiem" class="form-control" name="searchString" />
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-success">Tìm kiếm</button>
                    </div>
                </div>
            }
           
        </div>
    </div>
</div>
